<div class="mt-4">
    <div class="row">
        <div class="col-lg-4">
        </div>
        <div class="col-lg-6">
            <h2>{{laliga.name}}</h2>
            <img src="{{laliga.img1}}" alt="">
            <p>{{laliga.phara}}</p>

        <div class="col-lg-2">
        </div>
    </div>
</div>