<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-9">
            <h2>{{worldsoccer.name}}</h2>
            <img src="{{worldsoccer.image}}" alt="">
            <p>{{worldsoccer.phara}}</p>

        <div class="col-lg-3">
        </div>
    </div>
</div>