<footer class="nam_footer">
        <div class="grid__row" style="border-top: 4px solid rgba(213, 0, 0,0.6);">
            <div class="grid__column-2">
                <img src="https://s1.vnecdn.net/vnexpress/restruct/i/v757/v2_2019/pc/graphics/logo.svg" alt="">
            </div>
            <div class="grid__column-2">
                <ul class="nam_contact__list">
                    <li class="nam_contact__item--header">
                        Liên hệ
                    </li>
                    <li class="nam_contact__item">
                        <a href="https://www.facebook.com/lecongnam0604/" class="nam_contact__link" target="_blank">
                            Phone : 0961256092
                        </a>
                    </li>
                    <li class="nam_contact__item">
                        <a href="https://www.facebook.com/lecongnam0604/" class="nam_contact__link" target="_blank">
                            Email : lcongnam30@gmail.com
                        </a>
                    </li>
                </ul>
            </div>
            <div class="grid__column-2">
                <ul class="nam_social__media">
                    <li class="nam_social__media--header">
                        Social media
                    </li>
                    <li class="nam_social__media--list">
                        <a href="https://www.facebook.com/lecongnam0604/" class="nam_social__media--link" target="_blank">
                            <i class="nam_social__media--link-icon fa-brands fa-facebook-f"></i> 
                            facebook
                        </a>
                    </li>
                    <li class="nam_social__media--list">
                        <a href="https://chat.zalo.me/#!" class="nam_social__media--link " target="_blank">
                            <i class="nam_social__media--link-icon fa-sharp fa-solid fa-share-nodes"></i>
                            Zalo
                        </a>
                    </li>
                    <li class="nam_social__media--list">
                        <a href="https://www.instagram.com/ss_oulea027/" class="nam_social__media--link " target="_blank">
                            <i class="nam_fa-brands fa-instagram"></i>
                            Instagram
                        </a>
                    </li>
                    <li class="nam_social__media--list">
                        <a href="https://www.tiktok.com/" class="nam_social__media--link " target="_blank">
                            <i class="nam_social__media--link-icon fa-brands fa-tiktok"></i>
                            Tiktok
                        </a>
                    </li>
                    <li class="nam_social__media--list">
                        <a href="https://www.twitter.com/" class="nam_social__media--link " target="_blank">
                            <i class="nam_social__media--link-icon fa-brands fa-twitter"></i>
                            Twitter
                        </a>
                    </li>
                </ul>
            </div>
            <div class="grid__column-2">
                <ul class="nam_partners">
                    <li class="nam_partners--header">
                        Nhà tài trợ và đồng hành
                    </li>
                    <li class="nam_partners__list">
                        <a href="https://www.facebook.com/lecongnam0604/" class="nam_partners__link" target="_blank">
                            Sky bet
                        </a>
                    </li>
                    <li class="nam_partners__list">
                        <a href="https://www.facebook.com/lecongnam0604/" class="nam_partners__link" target="_blank">
                            Meta
                        </a>
                    </li>
                    <li class="nam_partners__list">
                        <a href="https://www.facebook.com/lecongnam0604/" class="nam_partners__link" target="_blank">
                            Planet365
                        </a>
                    </li>
                    <li class="nam_partners__list">
                        <a href="https://www.facebook.com/lecongnam0604/" class="nam_partners__link" target="_blank">
                            Cricket365
                        </a>
                    </li>
                </ul>
            </div>
            <div class="grid__column-6">
                <ul class="nam_information">
                    <li class="nam_information__header">
                        Công ty Dịch vụ và Thể thao Đỗ Nguyên Phúc
                    </li>
                    <li class="nam_information__list">
                        Name : Đỗ Nguyên Phúc
                    </li>
                    <li class="nam_information__list">
                        Address : Trung Ý , Nông Cống , Thanh Hóa
                    </li>
                    <li class="nam_information__list">
                        Work : Post and Telecommunications Institute of Technology
                    </li>
                    <li class="nam_information__list">
                        Age : 21
                    </li>
                    <li class="nam_information__list">
                        ID Student : B20DCCN447
                    </li>
                    <li class="nam_information__list">
                        Subject : Thực tập cơ sở
                    </li>
                </ul>
            </div>
        </div>
        <div class="grid__row" style="float:right">
            <p class="nam_copyright"> Copyright @ Lê Công Nam</p>
        </div>
    </footer>