<div class="nam_slider" id="my-slider">
        <div class="nam_slider__author" >
                <img src="https://tse2.mm.bing.net/th?id=OIP.ugsE8JIMyHTViaWhIKB55AHaHa&pid=Api&P=0" alt="" class="nam_slider__img" style="width: 150px ; height: 150px">
                <h1 class="nam_slider__name">
                    <i>SPORT PLUS</i>
                </h1>
        </div>
    </div>


