<div class="nam_slider" id="my-slider">
    <div class="img-slider">
        <a href="/" class="nam_slider__author">
            <img src="https://aux2.iconspalace.com/uploads/real-madrid-logo-icon-256.png" style="width: 180px ; height: 180px">
            <h1 class="nam_slider__name">
                <i>Sport web</i>
            </h1>
        </a>
        <div class="sign-in__sign-out" id="sign-in__sign-out">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="background-color :transparent ; border : none ; font-size : 1.4rem">
                    Admin
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="font-size : 1.4rem">
                    <li><a class="dropdown-item" href="/admin/create">Trang quản trị nội dung</a></li>
                    <li><a class="dropdown-item" href="">Tài khoản của Admin</a></li>
                </ul>
            </div>
            <a href="/login" class="btn btn-primary" style="background-color : transparent; border : none; font-size: 1.4rem">Đăng nhập</a>
            <a href="/login" class="btn btn-primary" style="background-color : transparent; border : none; font-size: 1.4rem">Đăng ký</a>

        </div>
    </div>
</div>


