<div class="nam_slider" id="my-slider">
    <div class="img-slider">
        <a href="/" class="nam_slider__author">
            <img src="https://aux2.iconspalace.com/uploads/real-madrid-logo-icon-256.png" style="width: 180px ; height: 180px">
            <h1 class="nam_slider__name">
                <i>Sport web</i>
            </h1>
        </a>
        <div class="sign-in__sign-out" id="sign-in__sign-out">
            <button class="btn-slide" id="admin"><a href="/c1/create">Admin</a></button>
            <button class="btn-slide" id="signIn">Đăng nhập</button>
            <button class="btn-slide" id="signUp">Đăng ký</button>

        </div>
    </div>
</div>


