<div class="nam_slider" id="my-slider">
        <div class="nam_slider__author" >
                <img src="https://aux2.iconspalace.com/uploads/real-madrid-logo-icon-256.png" style="width: 180px ; height: 180px">
                <h1 class="nam_slider__name">
                    <i>Sport web</i>
                </h1>
        </div>
    </div>


