<div class="nam_slider" id="my-slider">
    <div class="img-slider">
        <a href="/" class="nam_slider__author">
            <img src="https://aux2.iconspalace.com/uploads/real-madrid-logo-icon-256.png" style="width: 180px ; height: 180px">
            <h1 class="nam_slider__name">
                <i>Sport web</i>
            </h1>
        </a>
        <div class="sign-in__sign-out" id="sign-in__sign-out">
            <button class="btn-slide" id="">Admin</button>
            <button class="btn-slide" id="signIn">Đăng nhập</button>
            <button class="btn-slide" id="signUp">Đăng ký</button>

            {{!-- <div class="over_lay">
                <form action="#" class="form" >
                    <h1>FORM ĐĂNG KÝ</h1>
                    <div class="name">
                        <label for="name">Nhập tên</label>
                        <br>
                        <input type="text" name="name" id="name">
                        <br>
                    </div>
                     <span id="errorname" class="span"></span>
                    <br>
                    <div class="pass">
                        <label for="pass">Nhập mật khẩu</label>
                        <br>
                        <input type="password" name="pass" id="pass" >
                        <br>
                    </div>
                    <span id="errorpass" class="span"></span>
                     <br>

                    <div class="passagain">
                        <label for="passagain">Nhập lại mật khẩu</label>
                        <br>
                        <input type="password" name="passagain" id="passagain" >
                        <br>
                    </div>
                    <span id="errorpassagain" class="span"></span>
                    <br>

                    <div class="phone">
                        <label for="phone">Nhập số điện thoại</label>
                        <br>

                        <input type="text" name="phone" id="phone"  >
                        <br>
                    </div>
                    <span id="errorphone" class="span"></span>
                    <br>

                    <div class="email">
                        <label for="email">Nhập email</label>
                        <br>
                        <input type="email" name="email" id="email" >
                        <br>
                    </div>
                    <span id="erroremail" class="span"></span>
                    <br>
                    <button type="submit" id="submit" onclick="Submit()"> Đăng ký</button>
            </div> --}}
        </div>
    </div>
</div>


