
<div class="mt-4">
    <div class="row">
        <div class="col-lg-2" >
        </div>
        <div class="col-lg-8" style="color: #000; background-color :rgba(240, 248, 255, 0.8)" >
            <div class="nam_app">
                <div class="nam_container_web">
                    <div class="nam_grid">
                        <div class="nam_grid__row">
                            <div class="nam_middle" style="display:flex ; justify-content:space-between ; ">
                                <div class="nam_new-mid">
                                    <div class="nam_new-mid--header">
                                        <div class="nam_new-mid--header__img">
                                            <a href="">
                                            <img src="https://cdn.pixabay.com/photo/2013/10/09/02/27/lake-192990__340.jpg" alt="">
                                            </a>                                        </div>
                                        <div class="nam_new-mid--header__des">
                                            <a href="" class="nam_new-mid--header__des-title">
                                                Trực tiếp Man City vs Bayern, 2h00 ngày 12/04
                                            </a>
                                            <div class="nam_new-mid--header__des-summary">
                                                Trực tiếp Man City đấu với Bayern Munich - Trận cầu tâm điểm tứ kết Cúp C1 hứa hẹn sẽ là một bữa tiệc bóng đá tấn công tưng bừng với sự góp mặt của hai đội bóng mạnh nhất châu Âu.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nam_new-mid--news">
                                        vùng cơ sở dữ liệu Champion Leagues
                                    </div>
                                    <div class="nam_new-mid--rank" >
                                        <h1>Bảng xếp hạng</h1>
                                        <table class="table" style="font-size: 1.4rem ">
                                            <thead>
                                                <tr>
                                                <th scope="col">Số thứ tự</th>
                                                <th scope="col">Tên đội</th>
                                                <th scope="col">Số trận</th>
                                                <th scope="col">Điểm</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td><img src="https://www.flashscore.com/res/image/data/pfchdCg5-4CIh5uRh.png" height="25px" width="25px">Mark</td>
                                                    <td>Otto</td>
                                                    <td>@mdo</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2</th>
                                                    <td><img src="https://www.flashscore.com/res/image/data/pfchdCg5-4CIh5uRh.png" height="25px" width="25px">Mark</td>
                                                    <td>Thornton</td>
                                                    <td>30</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">3</th>
                                                    <td><img src="https://www.flashscore.com/res/image/data/pfchdCg5-4CIh5uRh.png" height="25px" width="25px">Mark</td>
                                                    <td>Thornton</td>
                                                    <td>30</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2</th>
                                                    <td><img src="https://www.flashscore.com/res/image/data/pfchdCg5-4CIh5uRh.png" height="25px" width="25px">Mark</td>
                                                    <td>Thornton</td>
                                                    <td>30</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2</th>
                                                    <td><img src="https://www.flashscore.com/res/image/data/pfchdCg5-4CIh5uRh.png" height="25px" width="25px">Mark</td>
                                                    <td>Thornton</td>
                                                    <td>30</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2</th>
                                                    <td><img src="https://www.flashscore.com/res/image/data/pfchdCg5-4CIh5uRh.png" height="25px" width="25px">Mark</td>
                                                    <td>Thornton</td>
                                                    <td>30</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2</th>
                                                    <td><img src="https://www.flashscore.com/res/image/data/pfchdCg5-4CIh5uRh.png" height="25px" width="25px">Mark</td>
                                                    <td>Thornton</td>
                                                    <td>30</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2</th>
                                                    <td><img src="https://www.flashscore.com/res/image/data/pfchdCg5-4CIh5uRh.png" height="25px" width="25px">Mark</td>
                                                    <td>Thornton</td>
                                                    <td>30</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2</th>
                                                    <td><img src="https://www.flashscore.com/res/image/data/pfchdCg5-4CIh5uRh.png" height="25px" width="25px">Mark</td>
                                                    <td>Thornton</td>
                                                    <td>30</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2</th>
                                                    <td><img src="https://www.flashscore.com/res/image/data/pfchdCg5-4CIh5uRh.png" height="25px" width="25px">Mark</td>
                                                    <td>Thornton</td>
                                                    <td>30</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="nam_new-mid--relate">
                                        <div class="nam_new-mid--relate__img">
                                            <img src="https://cdn.pixabay.com/photo/2013/10/09/02/27/lake-192990__340.jpg" alt="">
                                        </div>
                                        <div class="nam_new-mid--relate__des">
                                            <a href="" class="nam_new-mid--relate__des-title">
                                                Trực tiếp Man City vs Bayern, 2h00 ngày 12/04
                                            </a>
                                            <div class="nam_new-mid--relate__des-summary">
                                                Trực tiếp Man City đấu với Bayern Munich - Trận cầu tâm điểm tứ kết Cúp C1 hứa hẹn sẽ là một bữa tiệc bóng đá tấn công tưng bừng với sự góp mặt của hai đội bóng mạnh nhất châu Âu.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="nam_new_right" >
                                    <div class="top-goals">
                                        <h1>Vua phá lưới</h1>
                                        <div class="top-one-goals">
                                            <div class="top-one-goals-name">
                                                Erling Halland
                                            </div>
                                            <div class="top-one-goals-score">
                                                30
                                            </div>
                                        </div>
                                        <div class="top-goals-mem">
                                            <div class="top-goals-mem-name">
                                                Harry Kane
                                            </div>
                                            <div class="top-goals-mem-score">
                                                23
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2" >
        </div>
    </div>
</div>



